
.sup {
  color: red;
}
.none {
  display: none;
      
}
i {
  color: #fff;
}
.div-span{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.span-one{
    width: 90px;
    font-size: 16px;
    margin-top: 10px;
}
.span{
    width: 100%;
    height: 100%;
    padding: 10px;
    color: #000;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.divs{
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}